services:
  app:
    container_name: python_app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./logs:/src/app/logs
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/courseReminderBotDB
      - TZ=Europe/Stockholm   # or your host timezone
    ports:
      - "32619:8000"

  mongo:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
